<form action="/add" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title">


  <label for="review">Review:</label>
  <textarea name="review"></textarea>

  <label for="url">Url -has to start with "http" or "https":</label>
  <input type="text" name="url">

<label for="categories">Choose a category</label>
<select name="categories" id="category-cropdown">
  <option value=""></option>
  <option value="edgy">edgy and playful</option>
  <option value="attractive">attractive and appealing</option>
  <option value="cool">cool, but useless</option>
  <option value="educational">educational or informative</option>
  <option value="empowering">empowering</option>
  <option value="minimal">minimal</option>
</select>

{{!-- 
<form action="">
  <label for="img">Upload a Screenshot that represents the page the most:</label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form>

form action="">
  <label for="img">Upload another Screenshot:</label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form> --}}


  <button type="submit">Add a Homepage</button>
</form>


