<html>
  <head>
    <link rel="stylesheet" type="text/css" href="">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
    </style>
  </head>
  <body>
    <div class="header">
      <p class="header-text">Welcome to top-notch homepages! &#10084; &#10084; &#10084; // Here, you'll find a carefully curated collection of the best websites the internet has to offer.

        Our mission is to enrich the web by presenting you with the best and most innovative homepages out there. Every website included in our collection has been thoroughly vetted for its outstanding functionality and cool design, as well as its beautiful look and feel.
        
        &#10084; &#10084; &#10084;From sleek and modern to bold and vintage, our collection has it all. &#10084; &#10084; &#10084; // Whether you're looking for inspiration or just want to explore the latest and greatest in web design, you've come to the right place.
        
        So come on in and discover the world of beautifully crafted homepages.&#10084; &#10084; &#10084;  // You're sure to find something that will take your breath away!</p>
    </div>
    <div id="myContainer" class="center-box">
      <p class="center-text"> To prove you are a human being <br> 
        >type something deeply human and beautiful in the text field. <br>
        >Draw a few hearts in the blank space below
      </p>
      <form action="/overview">
        <input type="text" class="input-field">
        <button type="submit" id="button" class="submit-button" value="Submit" >Submit</button>
      </form>
    </div>
    <div class="footer">
      <p class="footer-text">Welcome to top-notch homepages! &#10084; &#10084; &#10084; // Here, you'll find a carefully curated collection of the best websites the internet has to offer.

        Our mission is to enrich the web by presenting you with the best and most innovative homepages out there. Every website included in our collection has been thoroughly vetted for its outstanding functionality and cool design, as well as its beautiful look and feel.
        
        &#10084; &#10084; &#10084; From sleek and modern to bold and vintage, our collection has it all. &#10084; &#10084; &#10084; // Whether you're looking for inspiration or just want to explore the latest and greatest in web design, you've come to the right place.
        
        So come on in and discover the world of beautifully crafted homepages.&#10084; &#10084; &#10084;  // You're sure to find something that will take your breath away!</p>
    </div>
  </body>
  <script src="script.js"></script> 
</html>
