<h1>Please log in:</h1>
<form action="/auth/login" method="POST">
  	Username:<br>
  	<input type="text" name="username" placeholder="Username" required><br><br>
  	Password:<br>
  	<input type="password" name="password" placeholder="Password" required><br><br>
  	<input type="submit" value="login">
</form>

{{#if message}}
	<h3 class="error">{{message}}</h3>
{{/if}}