
<!--Basic Navbar -->

<nav class="NavOne">
<ul>
  <li><a href="/">Overview</a></li>
  <li><a href="#news">First Time User</a></li>
  <li><a href="#contact">Log In</a></li>
  <li><a href="#about">About</a></li>
</ul>
</nav>
<!--Categories Navbar -->
<div class="gallery">
  <a target="_blank" href="/">
    <img src="\images\Apple.png" alt="Placeholder" width="600" height="400">
  </a>
  <div class="desc">Minimal Websites</div>
</div>

<div class="gallery">
  <a target="_blank" href="/">
    <img src="\images\Banana.png" alt="Placeholder" width="600" height="400">
  </a>
  <div class="desc">Single Purpose Websites</div>
</div>

<div class="gallery">
  <a target="_blank" href="/">
    <img src="\images\Cherry.png" alt="Placeholder" width="600" height="400">
  </a>
  <div class="desc">Funky and Fun Websites</div>
</div>

<div class="gallery">
  <a target="_blank" href="/">
    <img src="\images\Peach.png" alt="Placeholder" width="600" height="400">
  </a>
  <div class="desc">Research Resources</div>
</div>

<h1>Top Notch Homepages</h1>


<div  class="HompagesList">
    {{#each homepages}}
        <h1>{{title}}</h1>
    {{/each}}

</div>