
{{!-- navbier hier login signup 

navbar mit kategorien  --}}

<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<div  class="HompagesList">
    {{#each homepages}}
        <h1>{{title}}</h1>
    {{/each}}

</div>