
{{!-- navbier hier login signup 

navbar mit kategorien  --}}

<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<div  class="HompagesList">
    <h1>All Homepages</h1>
    {{#each homepages}}
        <img src="" alt="">
        <h1>Titel: {{title}}</h1>
        <a href="/homepages/{{_id}}" class="button">See details </a>
    {{/each}}

</div>



<div>
<form method="post" action="/overview">
  <label for="category">Wählen Sie eine Kategorie:</label>
  <select name="category" onchange="this.form.submit()">
    <option value="sexy">sexy</option>
    <option value="weird">weird</option>
    <option value="true">true</option>
    <option value="funny">funny</option>
  </select>
</form>
</div>
